@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i');

nav{
	background-color: #ffc20e; /*LightGrey –––> #797c87;*/
	height: 11em;
	text-align: center;
}

#navlogo{
	height: 5.5em;
	padding: 2em 0em 1em;
	display: inline-block;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: 700;
	color: #2b2b30;
}

nav li{
	display: inline-block;
	padding: 0 .8em;
}

nav a{
	text-decoration: none;
	color: #2b2b30;
}


/* Body */
body {
	font-family: "Montserrat", sans-serif;
	background-size: 5em;
	margin: 0 auto;
	padding: 0;
	background-image: url('../../Unit 9_v2/images/BG Pattern-01.png');
	background-repeat: repeat;
	background-color: #797c87;
	
}

#body{
	background-color: white;
	margin: 0 auto;
	padding: 3em 0;
	max-width: 1500px;
}

p {
	line-height: 1.25em;
}

.row{
	margin: 2em auto;
	padding: 0;
	width: 85%;
}
/* Three columns side by side */
.column {
    float: left;
    width: 31%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
	line-height: 0;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 14px;
    color: white;
    background-color: #2b2b30;
    text-align: center;
    cursor: pointer;
    width: 100%;
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: .75em;
}

.button:hover {
    background-color: #ffc20e;
	color: #2b2b30;
}











footer {
	background-color: #2b2b30;
	margin: 0;
	padding: 1em 0;
	text-align: center;
	color: white;
	clear: both;
}

footer p {
	color:white;
}

footer img{
	width: 15em;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ffc20e; /* Set a background color */
    color: #2b2b30; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
	font-family: "Montserrat", sans-serif;
	font-weight:900; 
}

#myBtn:hover {
    background-color: #797c87; /* Add a dark-grey background on hover */
}


/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .column p {
	width: 80%;
	margin-left: 0px;
}
.text_column {
	padding-left: 20px;
}
.gallery {
	width: 95%	
	}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
	
	#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #ffc20e; /* Set a background color */
    color: #2b2b30; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
	font-family: "Montserrat", sans-serif;
	font-weight:900; 
}

#myBtn:hover {
    background-color: #797c87; /* Add a dark-grey background on hover */
}

}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 800px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 90%;
	margin: 1em 0;
	padding: 2em 0;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 100%;
}
.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 80%;
}
.column {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}
}

/* Small Desktops */
@media (min-width: 800px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 48%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}
