@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900,900i');

body, html{
	margin: 0 auto;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
}

#pagewrap{
	margin: 0 auto;
	padding: 0;
	min-width: 320px;
	background-color: #797c87;
}

nav{
	background-color: #ffc20e; /*LightGrey –––> #797c87;*/
	height: 11em;
	text-align: center;
}

#navlogo{
	height: 5.5em;
	padding: 2em 0em 1em;
	display: inline-block;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-weight: 700;
	color: #2b2b30;
}

nav li{
	display: inline-block;
	padding: 0 .8em;
}

nav a{
	text-decoration: none;
	color: #2b2b30;
}

#herowrap{

}

.hero_img{
	/* The image used */
    background-image: url('../images/iStock-518356182.jpg');

    /* Set a specific height */
    height: 25em;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero_txt{
	text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
	padding: 0;
}

.hero_txt h1{
	margin: 0 auto;
	font-size: 3em;
	
}

.hero_txt button{
	background-color: #ffc20e;
    border: none;
	border-radius: 3em;
    color: #2b2b30;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 18px;
	font-family: "Montserrat";
	font-weight: 900;
}

.hero_txt a{
	color:#2b2b30;
	text-decoration: none;
}

#body{
	margin: 0 auto;
	padding: 0 4em;
	min-width: 350px;
	max-width: 600px;
	background-color: white;
}

.port_wrap{
	width:100%;
	margin: 0;
	padding: 4em 0 0;
}

#portfolio{
	margin: 0 auto;
	padding: 0 1em;
	min-width: 150px;
	max-width: 400px;
}

#portfolio h2{
	margin: 0;
	padding: 0 0 .5em 0;
	color: #2b2b30;
}

.portfolio_work img{
	margin: 0 auto;	
	padding: 0;
}

.container {
 	position: relative;
 	width: 50%;
}

.image {
	display: block;
  	width: 190%;
 	height: auto;
	position: static;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffc20e;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.container:hover .overlay {
	width: 190%;
}

.text {
	white-space: nowrap; 
	color: #2b2b30;
	font-size: 20px;
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
	text-align: center;
	font-family: "Montserrat";
	font-weight: 900;
}

.about_wrap{
	width:100%;
	margin: 0 1em 0;
	padding: 4em 0 2em 0;
	color: #2b2b30;

}

.about h2, h3, h4, h5{
	margin: 0;
	padding: 1em 0 0;
}

.about p {
	margin: .2em 0;
	padding: 0;
}

footer{
	background-color: #2b2b30;
	margin: 0;
	padding: 1em 0;
	text-align: center;
	color: white;
	clear: both;
}

footer img{
	width: 15em;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
@media (min-width: 320px){
	#body{
		margin: 0 auto;
		padding: 0;
		min-width: 320px;		
	}
	
	.about_wrap{
		width:90%;
		margin: 0 auto;
		padding: 2em .25em;
		color: #2b2b30;
	}
}

@media (min-width: 445px){
	.port_wrap{
		margin: 0;
		padding: 2em 0;
		color: #2b2b30;
	}
	
	.port_wrap h2{
		margin: 0 ;
		padding: 0 1em;
		color: #2b2b30;
	}
	#body{
		margin: 0 auto;
		padding: 0 .5em;
	}
	
	#portfolio{
		margin: 0 auto 0 0;
		padding: 0;
		min-width: 150px;
		max-width: 400px
	}
	
	.about_wrap{
		width:100%;
		margin: 0 auto;
		padding: 2em .25em;
		color: #2b2b30;
	}
	
	#about{
		max-width: 510px;
	}
}

@media (min-width: 768px){
	#body{
		margin: 0 auto;
		padding: 0 5em;
		min-width: 320px;		
	}
}
